@import "../common_styles/variables/colors.scss";
@import "../common_styles/variables/sizes.scss";

.person {
  display: flex;
  position: relative;
  width: $messages-person;
  height: $messages-person;
}

.person__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: $messages-person;
  width: $messages-person;
  border-radius: 50%;
  overflow: hidden;

  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: $messages-person;
    height: $messages-person;
    opacity: 0;
    z-index: 1;

    &__name {
      white-space: nowrap;
      color: $message-name;
      font-size: 11px;
    }
    &:hover {
      opacity: 1;
      background: rgba(0, 0, 0, 0.3);
    }
  }

}

.person__container__image {
  position: absolute;
  top: 50%;
  left: 50%;

  width: $messages-person;
  height: auto;
  max-height: none;
  max-width: none;

  min-height: 100%;
  min-width: 100%;
  
  transform: translate(-50%, -50%);
}


.person__unread {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 10px;
  height: 1.5em;
  width: 2em;
  border-radius: 10px;
  z-index: 3;
  background: $unread-messages;
  color: white;
}