.checkbox {
  font-size: 0.9rem;
  
  &__label {
    display: block;
    white-space: nowrap;
  }

  &__box-container {
    display: flex;
    justify-content: center;
    &__box {

      margin-top: 0.5rem;
      height: 1.5rem;
      width: 1.5rem;
    }
  }
  
}