@import "../../common_styles/variables/colors.scss";

.form__container {
  color: black;
  &__select-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &__select {
      flex-grow: 1;
      max-width: 400px;
    }

    &__button {
      width: 30%;
      margin-left: 2rem;
      height: 50px;
      color: white;
      font-size: 2rem;
      background: $blue-bright;
      outline: none;
      border: 0;
      border-radius: 20px;
      max-width: 100px;
    }
  }

  &__list-container {
    margin-top: 1rem;
    border-radius: 25px;
    padding: 1rem;
    border: 1px solid lightgray;
    min-height: 3rem;

    &__list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.8rem;
        &__button {
          border: none;
          text-align: right;
          height: 50px;
          width: 100px;
          outline: none;
          cursor: pointer;
          padding: 0.1rem 0.5rem;
          color: $red-normal;
          background: none;
          font-size: 1.5rem;
        }
      }
    }

    
  }
}