.form__container {
  border: 1px solid lightgray;
  border-radius: 25px;
  overflow: hidden;
  margin-top: 1rem;
  padding: 1rem 1rem 0 1rem;

  &__textarea {
    overflow: auto;
    outline: none;
    width: 100%;
    border: none;
    resize: none;
  }
}