@import "../common_styles/variables/colors.scss";

.pets-page {
  display: block;

  &__add-button {
    outline: none;
    border: 0;
    padding: 10px 15px;
    border-radius: 10px;
    background: $blue-normal;
    color: white;

    &:hover {
      background: $blue-dark;
    }
  }
}

.pet-list {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;

  &__item {
    margin-bottom: 30px;
  }
}

.profile-navbar {
  display: flex;
  flex-grow: 1;
  margin-top: 30px;
  margin-left: 30px;
  padding: 0;
  list-style-type: none;
  a {
    text-decoration: none;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 12px;
    background: $subnavbar-button;
    cursor: pointer;
    &:last-of-type {
      margin: 0;
    }

    
  }
  &__item.go-back {
    background: $subnavbar-back;
  }
}