@import "../common_styles/variables/colors.scss";

.profile {
  display: block;

  &__buttons {
    font-size: 0.8rem;
    display: flex;
    width: 320px;
    &__edit {
      display: flex;
      justify-content: center;
      height: 40px;      
      width: 130px;
      padding: 0.9rem 2rem;
      border-radius: 10px;
    }
    &__pets {
      padding: 1rem;
      width: 130px;
      height: 40px;
      margin-left: 20px;
      background: $pet-button;
      border-radius: 10px;
      color: white;

      &:hover {
        background: $pet-button-hover;
      }
    }
  }

  a {
    text-decoration: none;
  }
}