// SPLIT COMPLEMENTARY SITE COLORS
// primary
$blue-normal: #0986E6;
$blue-dark: #076bb8;
$blue-bright: #3a9eeb;
// secondary
$yellow-normal: #e6d809;
$yellow-dark:#b8ac07;
$yellow-bright: #ebdf3a;
// tertiary
$red-normal: #e60919;
$red-dark: #b80714;
$red-bright: #eb3a47;


// Line selector
$line-selector: #BFBFBF;

$light-black: #444;
$darker-black: #222;

// buttons
$button-primary: $blue-normal;
$button-primary-hover: $blue-dark;

$button-secondary: $blue-bright;
$button-submit: $blue-normal;
$navbar-button-primary: $yellow-normal;
$navbar-button-secondary: $yellow-bright;
$pet-button: $light-black;
$pet-button-hover: $darker-black;

$change-image-button: $blue-normal;
$change-image-button-hover: $blue-dark;

$subnavbar-back: $red-bright;
$subnavbar-button: $yellow-normal;

// Font color
$message-name: $yellow-bright;

// Others
$unread-messages: $blue-normal;
