// SPLIT COMPLEMENTARY SITE COLORS
// primary
$blue-normal: #aed9fa;
$blue-dark: #9cc3e1;
$blue-bright: #b6dcfa;
// secondary
$yellow-normal: #faf5ae;
$yellow-dark:#e1dd9c;
$yellow-bright: #faf6b6;
// tertiary
$red-normal: #faaeb3;
$red-dark: #e19c9f;
$red-bright: #fab6ba;
