.panel {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  &__filter-button {
    align-self: flex-end;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 30px;
  }

  &__content {
    height: auto;
  }
}