@import "../common_styles/variables/colors.scss";


.header {
  position: relative;
  height: 100px;
  overflow: hidden;
  margin-bottom: 70px;
}

.header__background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  background-image: linear-gradient($blue-dark, $blue-normal);
  transform: skewY(-4deg);
  transform-origin: top left;
}

.header__logo {
  position: absolute;
  padding: 10px 0 0 30px;
  height: 60px;
}

.header__hamburger {
  position: absolute;
  padding: 20px 25px 0 0;  
  height: 50px;
  right: 0px;
  top: 0px;
}

.header__login {
  position: absolute;
  right: 100px;
  top: 15px;
  color: white;
  border: 1px solid $blue-dark;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background: $blue-dark;
  }
}


@media only screen and (min-width: 600px)  {
  .header__background {
    transform: skewY(-3deg);
  }
}
@media only screen and (min-width: 800px)  {
  .header__background {
    transform: skewY(-2deg);
  }
}

@media only screen and (min-width: 1200px)  {
  .header__background {
    transform: skewY(-1.5deg);
  }
}

@media only screen and (min-width: 1600px)  {
  .header__background {
    transform: skewY(-1deg);
  }
}

@media only screen and (min-width: 2000px)  {
  .header__background {
    transform: skewY(-0.7deg);
  }
}