@import "../common_styles/variables/colors.scss";
@import "../common_styles/variables/sizes.scss";

.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  background: white;
  list-style-type: none;

  &:before {
    content : "";
    position: absolute;
    left: calc(5% - 10px);
    top: 0;
    height: 1px;
    width: 90%; 
    border-bottom: 1px solid $line-selector;
  }
}

.navbar__item {
  width: 100%;
  padding: 20px;

  &__content {
    display: flex;
    justify-content: center;
    height: $icon-bottom-navbar;
  }
  &__content__image {
    color: black;
    width: $icon-bottom-navbar;
    
  } 
}