.user-notices {
  display: block;

  &__title {
    margin-bottom: 30px;
  }
  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    &__item {
      display: block;
      margin: 0 auto;
    }
  }
}