@import "../common_styles/variables/colors.scss";
.form-container {
  padding: 0px;
}


.form {
  margin: 0;
  
  &__animal {
    display: flex;
    color: black;
    &__select {
      outline: 0;
      width: 200px;
      border-radius: 25px;
      padding: 10px;
      margin-right: 20px;
      
    }

    &__add {
      color: white;
      height: 50px;
      font-size: 30px;
      width: 100px;
      border-radius: 10px;
      background: $button-secondary;
    }

    
  }
  &__animal-list {
    width: 200px;
    min-height: 50px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid lightgray;

    color: black;
  }
  &__keeping {
    padding: 0em;
    &__title {
      padding: 0em;
    }

    &__date {
      padding: 0em;
    }
  }

  &__button {
    width: 150px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    margin-top: 1rem;
  }


  &__reward {
    display: flex;
    &__input {
      margin-right: 1rem;
    }

    &__checkbox {
      margin-top: 1rem;
    }
  }

}