.comment {
  border: 1px solid #E7E7E7;
  padding: 20px;
  font-size: 0.9rem;
  border-radius: 15px;
  margin-bottom: 50px;
  box-shadow: 3px 6px 7px 0px rgba(0,0,0,0.15);
  &__name {
    font-weight: 700;
    margin: 0;
  }

  &__body {
    font-weight: 300;
    margin: 0;
    margin-top: 10px;
    font-size: 0.8rem;
  }

  &__rating {
    color: black;
    margin-top: 40px;
  }
}